@import "tailwindcss";

/* Global body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes zoomIn {
  from { transform: scale(0.85); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-zoomIn {
  animation: zoomIn 0.3s ease-out;
}
